body,
html {
  height: 100%;
  width: 100%;
}

#app {
  background-color: white-space;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

#app > .bars {
  position: absolute;
  top: 0;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  display: inline-block;
  text-align: center;
  width: 33%;
  color: cornsilk;
  border-radius: 20px;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  position: relative;
  clear: both;
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 90px;
  width: 100%;
  position: relative;
}

textarea {
  overflow: auto;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.compeleteds,
.todos,
.nevers {
  position: absolute;
  background-color: blanchedalmond;
  width: 55%;
  min-height: 85%;
  box-shadow: 0px 0px 3px gray;
  border-radius: 10px;
}

.controlbtn input[type="button"] {
  position: absolute;
  bottom: 10px;
  right: 47%;
}

#memo {
  position: absolute;
  bottom: 50px;
  width: 20%;
  margin-left: 70px;
  border: lightgray 1px solid;
}

.controlbtn {
  margin-top: 60px;
  display: block;
  height: 120px;
  width: 100%;
  position: relative;
}

.dateInput {
  position: absolute;
  bottom: 10px;
  left: 40px;
}

.far.fa-edit {
  position: absolute;
  right: 120px;
}

.far.fa-trash-alt {
  position: absolute;
  right: 60px;
}

ol,
ul {
  list-style: none;
  padding: 10px;
  display: block;
}

li {
  padding-left: 50px;
  padding-left: 50px;
  margin: 3px;
  border-radius: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

li:hover {
  box-shadow: 0px 0px 3px rgb(100, 99, 99);
}

i {
  margin-left: 60px;
}

.bgc-light {
  background-color: rgb(223, 186, 106);
}

a {
  text-decoration: none;
  color: black;
}
